In [3]:
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv('./ParisHousing.csv')

In [5]:
df.head()

,squareMeters,numberOfRooms,hasYard,hasPool,floors,cityCode,cityPartRange,numPrevOwners,made,isNewBuilt,hasStormProtector,basement,attic,garage,hasStorageRoom,hasGuestRoom,price
0,75523,3,0,1,63,9373,3,8,2005,0,1,4313,9005,956,0,7,7559081.5
1,80771,39,1,1,98,39381,8,6,2015,1,0,3653,2436,128,1,2,8085989.5
2,55712,58,0,1,19,34457,6,8,2021,0,0,2937,8852,135,1,9,5574642.1
3,32316,47,0,0,6,27939,10,4,2012,0,1,659,7141,359,0,3,3232561.2
4,70429,19,1,1,90,38045,3,7,1990,1,0,8435,2429,292,1,4,7055052.0

In [6]:
X = df[df.columns.drop('price')]
y = df['price']

In [9]:
# Thêm một cột 1 vào X để đại diện cho giá trị bias (theta_0)
X = np.c_[np.ones(X.shape[0]), X]  # Thêm cột 1 vào đầu

In [10]:
# Chuyển đổi X và y thành dạng mảng numpy
X = np.array(X)
y = np.array(y)

In [11]:
# Tính toán tham số theta bằng công thức Normal Equation
theta = np.linalg.inv(X.T.dot(X)).dot(X.T).dot(y)

In [12]:
# In kết quả các tham số theta
print("Các tham số theta: ", theta)

Các tham số theta:  [ 4.92675856e+03  1.00000024e+02  2.51844813e-01  3.01229551e+03
  2.97713775e+03  5.45420542e+01 -8.03888244e-04  4.73685001e+01
 -3.95730198e-01 -2.31311930e+00  1.58041540e+02  1.41196130e+02
 -2.10562532e-03 -4.50939065e-03  1.13432814e-01  1.94856126e+01
 -5.62033751e+00]

In [17]:
# Define and assign values to the variables for the new house
new_square_meters = 75523
new_number_of_rooms = 4  
new_has_yard = 1  
new_has_pool = 0  
new_floors = 2 
new_city_code = 9373 
new_city_part_range = 3 
new_num_prev_owners = 1  
new_construction_year = 2020  
new_is_new_built = 1  
new_has_storm_protector = 1  
new_basement = 0  
new_attic = 1  
new_garage = 1 
new_has_storage_room = 1  
new_has_guest_room = 0 
bias = 1

In [18]:
# Create a DataFrame for the new house features
new_house_features = np.array([bias, new_square_meters, new_number_of_rooms, new_has_yard, new_has_pool, new_floors, new_city_code, new_city_part_range, new_num_prev_owners, new_construction_year, new_is_new_built, new_has_storm_protector, new_basement, new_attic, new_garage, new_has_storage_room, new_has_guest_room])

In [21]:
# Dự đoán giá nhà cho một căn nhà mới (ví dụ diện tích 1300m2, 3 phòng)
new_house = new_house_features
predicted_price = new_house.dot(theta)
print("Dự đoán giá nhà: ", predicted_price)

Dự đoán giá nhà:  7556131.501677033